
#slider_contain {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#slider h2 {
	width: 44%;
	min-width: 220px;
    margin: 200px auto 80px;
}
input[name="control"] { /*blendet standarte inputs aus*/
	display: none;
}
/* -----------------content------------------ */

#slides{
    order: 2;
	width: 80%; /* 80% from 900px */
}
.slides_frame { /*blendet alles außerhalb dieses Blocks aus*/
	width: 100%; /* 100% from 80% */
	overflow: hidden;
}
.slide_box {
	width: 300%;  /* 300% from 1200px */
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.slide_box article {
	width: 33.3333%; /* 33% from 500% */
	float: left;
}
.slide_img {
	width: 80%;
    margin: 0 auto;
	height: 340px;
	background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
}
.portfolio_image {
	background-image: url(./portfolio1.jpg)
}
.trottoir_image {
	background-image: url(./trottoir1.jpg)
}
.optizoom_image {
	background-image: url(./optizoom1.jpg)
}
.slide_link {
	display: block;
	text-align: center;
	font-style: italic;
	font-weight: 600;
	color: #304662;
	width: 240px;
	margin: 26px auto;
}
.slide_link:hover {
	font-size: 19px;
}
.slide_titel {
	width: 100%;
	padding: 40px 0;
	text-align: center;
}
.slide_text {
	padding: 0 30px 50px;
	text-align: center;
}
.portfolio_link {
	visibility: hidden;
}
/*Bildposition, wenn der Schalter aktiv*/
#switch1:checked ~ #slides .slide_box {
	margin-left: 0;
}
#switch2:checked ~ #slides .slide_box {
	margin-left: -100%;
}
#switch3:checked ~ #slides .slide_box {
	margin-left: -200%;
}

/* -----------------arrows------------------ */

#arrows_left {
	order: 1;
}
#switch1:checked ~ #arrows_left label:nth-child(3)::before, 
#switch2:checked ~ #arrows_left label:nth-child(1)::before,
#switch3:checked ~ #arrows_left label:nth-child(2)::before {
	content: "\f060";
}

#arrows_right {
	order: 3;
}
#switch1:checked ~ #arrows_right label:nth-child(2)::before, 
#switch2:checked ~ #arrows_right label:nth-child(3)::before,
#switch3:checked ~ #arrows_right label:nth-child(1)::before {
	content: "\f061";
}
label::before {
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
	font-size: 30px;
	border: 3px solid;
	padding: 14px 16px;
	border-radius: 50%;
	color: #bdc3c9;
	display: block;
	margin-top: 140px;

}
label:hover::before {
	opacity: 0.7;
	cursor: pointer;
}

/* -----------------points------------------ */

#points {
    order: 3;
    text-align: center;
	width: 60%;
}
#points label {
	display: inline-block;
	width: 30%;
	padding: 20px 0;
}
#points label:hover {
	background: #E9ECEF;
}
/*Farbe des Labels, wenn aktiv*/
#switch1:checked ~ #points label:nth-child(1),
#switch2:checked ~ #points label:nth-child(2),
#switch3:checked ~ #points label:nth-child(3){
	background: #CED4DA;
}
.slide_icon img{
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}

/* ----------------- media queries----------------- */

@media (max-width: 748px){   
	#arrows_left,
	#arrows_right {
		display: none;
	}
	#slides {
		width: 100%;
	}
	.slide_img {
		height: 220px;
	}
	#points {
		width: 100%;
	}
	#points label {
		padding: 10px;
	}
}