*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  list-style: none;
  line-height: 28px;
}
h1{
  font-size: 26px;
  margin-bottom: 20px;
}
h3{
  font-size: 20px;
  margin-bottom: 6px;
}
.heroText{
  width: 800px;
  height: 260px;
  margin: 0 auto;
}

/* -----HEADER------- */

header{
  height: 96vh;
  background: linear-gradient(to top, #E9ECEF 58%, #fff 42%);
}
.headerBox{
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
}
.headerImg{
  height: 50%;
  width: 100%;
  background: url('./images/man_PNG6531.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* -----skills------- */

.skills{
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 100px auto;
}
.skill_text{
  height: 100%;
  margin: 0 0 50px 0;
}
.skill_title{
  height: 46px;
  font-size: 18px;
  line-height: 56px;
}

.skill_Bgr{
  background-color: #CED4DA;
  height: 26px;
}

.progress_bgr{
  height: 100%;
}

.progress_bgr{
  animation: progress 3s normal forwards 1;
}

.html{
  background-color: grey;
  width: 80%;
}
.css{
  background-color: grey;
  width: 70%;
}
.js{
  background-color: grey;
  width: 30%;
}
.git{
  background-color: grey;
  width: 30%;
}
.sql{
  background-color: grey;
  width: 20%;
}
.figma{
  background-color: grey;
  width: 80%;
}
.fotoshop{
  background-color: grey;
  width: 60%;
}

@keyframes progress{
  0%{
      width: 0;
  }
  100%{
      width: 100;}
}

/* ----- exskill ------- */

.exskills{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 200px auto;
  row-gap: 56px;

}

.exskills_text{
  text-align: center;
  margin-bottom: 50px;
}

.exskill_box{
  width: 100%;
  max-width: 400px;
  /* background-color: khaki; */
  
}
.exskill_imgbox{
  width: 70px;
  height: 70%;
  margin-right: 3%;
  display: inline-block;
  margin-top: 40px;
}
.exskill_textbox{
  padding-left: 4%;
  max-width: 74%;
  display: inline-block;
  vertical-align: top;
}



.seo{
  background: url('./images/SEO.png');
}
.wordpress{
  background: url('./images/wordpress.png');
}
.design{
  background: url('./images/design.png');
}
.commerce{
  background: url('./images/commerz.png');
}
.seo, .wordpress, .design, .commerce{
  background-size: contain;
  background-repeat: no-repeat;
}

/*------Kontakt----------*/

.form{
  background-color: #CED4DA;

}
.formbox{
 width: 80%;
 max-width: 400px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 auto;
 height: 100vh;
 position: sticky;
}
.name, .email, .phone, .message{
 height: 30px;
 width: 100px;
}
#name, #email, #phone{
 height: 40px;
 width: 100%;
 border: 1px solid #808080c2;
 margin-bottom: 20px;
}
#message{
 height: 120px;
 width: 100%;
 border: 1px solid #808080c2;
}
.btn{
 height: 40px;
 width: 30%;
 margin: 40px 0px 40px auto;
 border: none;
 font-size: 18px;
 background-color: gray;
 color: white;
}
.btn:hover{
 background-color: green;
 color: red;
 font-weight: bold;
}

/* -----Menu------- */

.menu{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menuTitle {
  width: 100%;
  height: 50px;
  background-color: #343A40;
  color: white;
  font-size: 16px;
  border: none;
  position: relative;
}
.menuTitle div{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.menuContent {
  display: none;
  width: 100%;
  height: 412px;      /*menu hohe*/
  position: absolute;
  bottom: 50px;
  background-color: #212529;
  z-index: 1;
 
}

.menu_links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 26px;
}

.menu_links a {
  text-decoration: none;
  color: #fff;
}

.menu:hover .menuContent {display: block;}
.menuContent a:hover {color: red;}

/* -----Queries------- */

@media (min-width: 768px) {
    
  header{
      background: #E9ECEF;
  }
  .headerBox{
    justify-content: center;
    flex-direction: row-reverse;
    text-align: left;
  }  
  .headerText{
    height: 75%;
    width: 50%;
  }

  .headerImg{
    height: 70%;
    width: 50%;
  }
  .skills {
    width: 60%;
  }
  .exskills{
    width: 60%;
    justify-content: space-between;
  }
  .exskill_box {
    width: 48%;
    max-width: 400px;
    height: 250px;
  }
  .exskill_textbox {
    max-width: 100%;
    border: none;
    padding-left: 0;  
  }
  .exskill_imgbox {
    height: 40%;
    display: block;
    margin: 0 auto;
  } 
}

@media (min-width: 1200px) { 
  header{
    height: 100vh;
  }
  
  .headerText p{
    width: 100%;
    max-width: 624px;
  }
  .skills {
    height: 504px;
    align-content: space-between;
  }
  .skill_Bg{
    width: 50%;
  }
  .skill_title{
    width: 44%;
  }
  .skill_text{
    width: 44%;
    margin: 0;
    padding-top: 16px;
  }
  .exskills{
    width: 60%;
    max-width: 900px;
    row-gap: 80px;
  }
  .exskill_box {
    height: auto;
    max-width: 400px;
  }
  .exskill_imgbox {
    height: 67%;
    width: 20%;
    display: inline-block;
    margin-right: 4%;
    margin-top: 30px;
  } 
  .exskill_textbox {
    max-width: 74%;
    padding-left: 3%;
  }
  .menu {
    width: 50px;
  }
  .menuTitle {
    height: 100vh;
  }
  .menuContent {
    width: 234px;
    height: 100vh;
    bottom: 0px;
    left: 42px;
  }
}