* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 28px;
}
h1 {
  font-size: 26px;
  margin-bottom: 20px;
}
h3 {
  font-size: 24px;
}
section {
  width: 80%;
  margin: 100px auto;
}
.text p:last-child{
  margin: 40px 0;
}

/* ========== header ========== */

header {
  height: 96vh;
  background: linear-gradient(to top, #E9ECEF 58%, #fff 42%);
}
.headerBox {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
}
.headerImg {
  height: 50%;
  width: 100%;
  background: url('./images/mein_foto.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* ========== skills ========== */

.skill_title:not(:first-child) {
  margin-top: 20px;
}
.skill_bar {
  background-color: #CED4DA;
  height: 26px;
}
.skill_value {
  animation: progress 3s normal forwards 1;
  height: 100%;
  background-color: grey;
}
.html {
  width: 80%;
}
.css {
  width: 70%;
}
.js {
  width: 30%;
}
.git {
  width: 30%;
}
.sql {
  width: 20%;
}
.figma {
  width: 80%;
}
.fotoshop {
  width: 60%;
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

/* ========== experiences text ========== */

/* #experiences_text{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .experiences_text_right{  
  margin-top: 57px;
} */
/* ========== Menu ========== */

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.menuTitle {
  width: 100%;
  height: 50px;
  background-color: #343A40;
  color: white;
  font-size: 16px;
  position: relative;
}
.menuTitle div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menuContent {
  display: none;
  width: 100%;
  height: 508px;      /*menu hohe*/
  position: absolute;
  bottom: 50px;
  background-color: #212529;
  z-index: 1;
 
}
.menu_links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 26px;
}
.menu_links a {
  text-decoration: none;
  color: #fff;
}

.menu:hover .menuContent {display: block;}
.menuContent a:hover {color: green;}

/* ======== Media queries ========== */

@media (min-width: 768px) {    
  section {
    width: 60%;
  }
  header {
    background: #E9ECEF;
  }
  .headerBox {
    justify-content: center;
    flex-direction: row-reverse;
    text-align: left;
  }  
  .headerText {
    height: 75%;
    width: 50%;
  }
  .headerImg {
    height: 70%;
    width: 50%;
  }
  .menuContent {
    height: 406px;
  }
}

@media (min-width: 1200px) {  
  header {
    height: 100vh;
  }
  .headerText p {
    width: 100%;
    max-width: 624px;
  }
  .box {
    width: 47%;
  }
  .text {
    float: left;
  }
  .skills {
    float: right;
  }
  #skills .text {
    margin-top: 20px;
  }
  .experiences_text_left {
    width: 49%;
    text-align: right;
  }

  .experiences_text_right {
    width: 48%;
    margin-left: 3%;
  }
  .menu {
    width: 50px;
  }
  .menuTitle {
    height: 100vh;
  }
  .menuContent {
    width: 234px;
    height: 100vh;
    bottom: 0px;
    left: 42px;
  }
  .menu_links{
    align-items: flex-start;
    margin-left: 40px;
  }
}